<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" id="divProductDetails">
    <th:block th:each="detail, status : ${product.details}">
        <div class="align-items-center row g-3 mb-2" th:id="'divDetail' + ${status.index}">
            <input type="hidden" name="detailIDs" th:value="${detail.id}"/>

            <label class="col-sm-1 col-form-label">Название: </label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="detailNames" maxlength="255" th:value="${detail.name}"/>
            </div>
            <label class="col-sm-1 col-form-label">Значение: </label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="detailValues" maxlength="255" th:value="${detail.value}"/>
            </div>
            <div class="col-sm-auto">
                <a id="linkRemoveDetail" class="fas fa-times-circle fa-2x icon-dark"
                   title="Удалить"></a>
            </div>

        </div>
    </th:block>

    <div class="align-items-center row g-3 mb-2" th:id="'divDetail' + ${#lists.size(product.details)}">
        <input type="hidden" name="detailIDs" value="0"/>
        <label class="col-sm-1 col-form-label">Название: </label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="detailNames" maxlength="255"/>
        </div>
        <label class="col-sm-1 col-form-label">Значение: </label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="detailValues" maxlength="255"/>
        </div>
    </div>

</div>
</body>
</html>