<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<body>

<div th:fragment="content" th:remove="tag">
    <div class="col-form-label row">
        <label class="col-sm-2 col-form-label">Название продукта: </label>
        <div class="col-sm-10">
            <input type="text" th:field="*{name}"
                   class="form-control"
                   th:readonly="${#authorization.expression('hasAuthority(''Продавец'')')}"
                   th:classappend="${#authorization.expression('hasAuthority(''Продавец'')')} ? 'readonly'"
                   required minlength="3" maxlength="32"/>
        </div>
    </div>

    <div class="col-form-label row">
        <label class="col-sm-2 col-form-label">Алиас: </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{alias}" minlength="3" maxlength="32"
                   placeholder="По умолчанию название продукта (пробелы заменены нижними подчеркиваниями)"
                   th:readonly="${#authorization.expression('hasAuthority(''Продавец'')')}"
                   th:classappend="${#authorization.expression('hasAuthority(''Продавец'')')} ? 'readonly'"/>
        </div>
    </div>

    <div class="col-form-label row">
        <label class="col-sm-2 col-form-label">Бренд: </label>
        <div class="col-sm-10">
            <th:block sec:authorize="hasAnyAuthority('Админ', 'Редактор')">
                <select th:field="*{brand}" class="form-control" required>
                    <th:block th:each="brand : ${listBrands}">
                        <option th:value="${brand.id}">[[${brand.name}]]</option>
                    </th:block>
                </select>
            </th:block>
            <th:block sec:authorize="hasAuthority('Продавец')">
                <input type="text" class="form-control readonly" th:value="${product.brand.name}" readonly />
            </th:block>
        </div>
    </div>

    <div class="col-form-label row">
        <label class="col-sm-2 col-form-label">Категория: </label>
        <div class="col-sm-10">
            <th:block sec:authorize="hasAnyAuthority('Админ', 'Редактор')">
                <th:block th:if="${product.category != null}">
                    <select th:field="*{category}" class="form-control" required>
                        <th:block th:each="cat : ${product.brand.categories}">
                            <option th:value="${cat.id}">[[${cat.name}]]</option>
                        </th:block>
                    </select>
                </th:block>
                <th:block th:if="${product.category == null}">
                    <select th:field="*{category}" class="form-control" required>
                    </select>
                </th:block>
            </th:block>
            <th:block sec:authorize="hasAuthority('Продавец')">
                <input type="text" class="form-control readonly" th:value="${product.category.name}" readonly />
            </th:block>
        </div>
    </div>

    <div class="col-form-label row">
        <label class="col-sm-2 col-form-label">Доступ: </label>
        <div class="col-sm-10">
            <input class="form-check-input" type="checkbox" th:field="*{enabled}"
                   th:disabled="${#authorization.expression('hasAuthority(''Продавец'')')}"/>
        </div>
    </div>

    <div class="col-form-label row">
        <label class="col-sm-2 col-form-label">В наличии: </label>
        <div class="col-sm-10">
            <input class="form-check-input" type="checkbox" th:field="*{inStock}"
                   th:disabled="${#authorization.expression('hasAuthority(''Продавец'')')}"/>
        </div>
    </div>

    <div class="col-form-label row">
        <label class="col-sm-2 col-form-label">Цена: </label>
        <div class="col-sm-10">
            <input type="number" class="form-control" th:field="*{price}"/>
        </div>
    </div>

    <div class="col-form-label row">
        <label class="col-sm-2 col-form-label">Скидка: </label>
        <div class="col-sm-10">
            <input type="number" class="form-control" th:field="*{discountPercent}"/>
        </div>
    </div>


</div>

</body>
</html>