<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="~{fragments :: page_head('Бренды', 'none')}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <title>Бренды - DNS Admin</title>
</head>

<body>
    <div class="container-fluid">
        <div th:replace="~{navigation :: menu}"></div>
        <div>
            <h2>Панель управления брендами</h2>
            <a th:href="@{/brands/new}" class="fa-solid fa-folder-plus fa-2x icon-dark me-2"></a>
            <a th:href="@{/brands/export/csv}" class="fa-solid fa-file-csv fa-2x icon-dark me-2"></a>
        </div>

        <div th:replace="~{fragments :: search_form_and_message('/brands/page/1')}"></div>

        <div class="full-details">
            <table class="table table-bordered table-striped table-hover table-responsive-xl">
                <thead class="table-dark">
                    <tr>
                        <th class="hideable-column">ID бренда</th>
                        <th>Логотип</th>
                        <th th:replace="~{fragments :: column_link('/brands', 'name', 'Название категории', 'none')}"></th>
                        <th>Категории</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="brand: ${listBrands}">
                        <td class="hideable-column">[[${brand.id}]]</td>
                        <td>
                            <img th:src="@{${brand.logoPath}}" style="width: 100px" class="img-fluid">
                        </td>
                        <td>[[${brand.name}]]</td>
                        <td>
                            <th:block th:each="brand : ${brand.categories}">
                                <span class="badge text-bg-secondary" th:text="${brand.name}"></span>
                            </th:block>
                        </td>
                        <td>
                            <div th:replace="~{fragments :: edit('бренд', '/brands/edit/' + ${brand.id})}"></div>
                            &nbsp;
                            <div th:replace="~{fragments :: delete('бренд', ${brand.id}, '/brands/delete/' + ${brand.id}, true)}"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="less-details">
            <div th:each="brand : ${listBrands}" class="row m-1">
                <div class="col-4">
                    <img th:src="@{${brand.logoPath}}" style="width: 100px" class="img-fluid">
                </div>
                <div class="col-8">
                    <div>[[${brand.name}]]</div>
                    <div class="mt-2">
                        &nbsp;
                        <div th:replace="~{fragments :: edit('бренд', '/brands/edit/' + ${brand.id})}"></div>
                        &nbsp;
                        <div th:replace="~{fragments :: delete('бренд', ${brand.id}, '/brands/delete/' + ${brand.id}, true)}"></div>
                    </div>

                </div>
            </div>
        </div>

        <div th:replace="~{fragments :: pagination('/brands', 'Бренды')}"></div>
        <div th:replace="~{modal_fragments :: confirm_modal}"></div>
        <div th:replace="~{fragments :: footer}"></div>
    </div>

    <script th:src="@{/js/common_list.js}"></script>
    <script type="text/javascript">
        moduleURL = "[[@{/brands}]]";

        $(document).ready(function () {
            $(".link-delete").on("click", function (e) {
                e.preventDefault();
                showDeleteConfirmModal($(this), 'бренд')
            });
        });
    </script>
</body>
</html>