<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<body>
    <th:block th:fragment="content">
        <div class="col">
            <div class="col-md-4 col-sm-6 mb-4">
                <a th:href="@{'/p/' + ${product.alias}}">
                    <img th:src="@{${product.mainImagePath}}" width="150px"/>
                    <br/>
                    <b>[[${product.shortName}]]</b>
                </a>
            </div>
            <div th:if="${product.discountPercent <= 0}">
                <span>&#8381; [[${product.price}]]</span>
            </div>
            <div th:if="${product.discountPercent > 0}">
                <span style="font-size: larger; color: darkred">&#8381; [[${product.discountPrice}]]</span>
                <del><span>&#8381; [[${product.price}]]</span></del>
            </div>
        </div>
    </th:block>
</body>
</html>