 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="~{fragments :: page_head(${pageTitle})}">
    <meta/>
</head>
<body>
<div class="container-fluid">
    <div th:replace="~{navigation :: header_menu}"></div>
    <th:block th:insert="~{breadcrumb :: content}"></th:block>
    <div class="row">
        <div class="col-sm-2">
            <div>
                <img id="bigImage" th:src="@{${product.mainImagePath}}" style="height: 400px" index="0" alt="mainImagePath"/>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto m-2 border p-1">
                    <img class="image-thumbnail" th:src="@{${product.mainImagePath}}" height="100px" th:attr="index=0" alt="mainImagePath"/>
                </div>
                <th:block th:each="extraImage, status : ${product.images}">
                    <div class="col-auto m-2 border p-1">
                        <img class="image-thumbnail" th:src="@{${extraImage.imagePath}}" height="100px" th:attr="index=${status.count}" alt="mainImagePath"/>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="col-sm-3">
            <div>
                <h2>[[${product.name}]]</h2>
            </div>
            <div>
                <span>Бренд: [[${product.brand.name}]]</span>
            </div>
            <div>
                <span th:if="${product.discountPercent <= 0}">&#8381; [[${product.price}]]</span>
                <del th:if="${product.discountPercent > 0}"><span>&#8381; [[${product.price}]]</span></del>
            </div>
            <div th:if="${product.discountPercent > 0}">
                Цена:
                <span style="font-size: larger; color: darkred">&#8381; [[${product.discountPrice}]]</span>
                ([[${product.discountPercent}]]%)
            </div>
            <div>&nbsp;</div>
            <div th:utext="${product.shortDescription}"></div>
        </div>
        <div class="col-sm-2">
            <div>
                <span th:if="@{${product.inStock}}" class="text-success">В наличии</span>
                <span th:unless="@{${product.inStock}}" class="text-danger">Нет в наличии</span>
            </div>
            <div class="mt-2">
                <label>
                    <input type="text" size="5" value="1"/>
                </label>
            </div>
            <div class="mt-3">
                <input type="button" value="В корзину" class="btn btn-primary"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div><hr/></div>
            <div>
                <h3>Характеристики:</h3>
            </div>
            <th:block th:each="detail : ${product.details}">
                <div>
                    <b>[[${detail.name}]]</b>:
                    <span>[[${detail.value}]]</span>
                </div>
            </th:block>
        </div>
    </div>
    <div th:replace="~{product/images_carousel :: content}"></div>
    <div th:replace="~{navigation :: footer_menu}"></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        bigImage = $("#bigImage")
        $(".image-thumbnail").mouseover(function () {
            currentImageSource  = $(this).attr("src");
            currentImageIndex = $(this).attr("index")
            bigImage.attr("src", currentImageSource);
            bigImage.attr("index", currentImageIndex);
        });
        bigImage.on("click", function () {
            $('#carouselModal').modal('show');
            imageIndex = parseInt(bigImage.attr("index"));
            $("#carouselExampleIndicators").carousel(imageIndex);
        });
    });
</script>
</body>
</html>