<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head th:replace="~{fragments :: page_head('Главная страница', 'none')}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <title>[[${pageTitle}]]</title>
</head>


<body>

<div class="container-fluid">
    <div>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark" >
            <a style="color: white; font-size: 50px; text-decoration: none; padding: 20px"
               th:href="@{/}" class="fas fa-cube fa-lg"
              >&nbsp;DNS
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users}">Пользователи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categories}">Категории</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/brands}">Бренды</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/products}">Продукты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customers}">Клиенты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/shipping}">Доставки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/orders}">Заказы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/reports}">Отчет о продажах</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/articles}">Статьи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/menus}">Меню</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/settings}">Настройки</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div>
        <h2>Управление пользователями | [[${pageTitle}]]</h2>
        <a th:href="@{/users/new}">Создать нового пользователя</a>
    </div>

    <form th:action="@{/users/save}" method="post" style="max-width: 800px; margin: 0 auto"
          th:object="${user}" onsubmit="return checkEmailUnique(this)" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>
        <div class="border border-secondary rounded p-3">
            <div class="row mb-3">
                <label for="email" class="col-sm-4 col-form-label">Почта:</label>
                <div class="col-sm-8">
                    <input type="email" id="email" class="form-control" th:field="*{email}"
                           required minlength="8" maxlength="128" />
                </div>
            </div>

            <div class="row mb-3">
                <label for="firstName" class="col-sm-4 col-form-label">Имя:</label>
                <div class="col-sm-8">
                    <input type="text" id="firstName" class="form-control" th:field="*{firstName}"
                           required minlength="2" maxlength="45" />
                </div>
            </div>

            <div class="row mb-3">
                <label for="lastName" class="col-sm-4 col-form-label">Фамилия:</label>
                <div class="col-sm-8">
                    <input type="text" id="lastName" class="form-control" th:field="*{lastName}"
                           required minlength="2" maxlength="45" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Пароль:</label>
                <div class="col-sm-8">
                    <input th:if="${user.id == null}" type="password" class="form-control"
                           th:field="*{password}" required minlength="8" maxlength="20" />
                    <input th:if="${user.id != null}" type="password" class="form-control"
                           th:field="*{password}" minlength="8" maxlength="20" />
                </div>
            </div>

            <div class="form-group row">
                <label for="roles" class="col-sm-4 col-form-label">Назначения:</label>
                <div class="col-sm-8 mt-2">
                    <th:block th:each="role : ${listRoles}">
                        <input id="roles" type="checkbox" th:field="*{roles}"
                               th:text="${role.name}" th:value="${role.id}" class="m-2" />
                        - <small>[[${role.description}]]</small>
                        <br/>
                    </th:block>
                </div>
            </div>

            <div class="form-group row">
                <label for="enabled" class="col-sm-4 col-form-label">Доступ:</label>
                <div class="col-sm-8 mt-2">
                    <input type="checkbox" id="enabled" th:field="*{enabled}">
                </div>
            </div>

            <div class="form-group row">
                <label for="fileImage" class="col-sm-4 col-form-label">Фото:</label>
                <div class="col-sm-8 mt-2">
                    <input type="hidden" th:field="*{photos}">
                    <input type="file" id="fileImage" name="image" accept="image/png, image/jpeg" class="mb-2">
                    <img id="thumbnail" th:src="@{${user.getPhotosImagePath()}}" class="img-fluid">
                    


                </div>
            </div>

            <div class="text-center">
                <input type="submit" value="Сохранить" class="btn btn-primary m-3" />
                <input type="button" value="Отменить" class="btn btn-secondary" id="buttonCancel" />
            </div>
        </div>
    </form>


    <div class="modal fade text-center" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <p>DNS Control Panel - Copyright &copy; DNS</p>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#buttonCancel").click(function () {
            window.location = "[[@{/users}]]";
        });

        $("#fileImage").change(function (){
            let fileSize = this.files[0].size;
            alert(fileSize);
            if (fileSize > 1048576) {
                this.setCustomValidity("Файл должен быть менее 1MB!");
                this.reportValidity();
            } else {
                this.setCustomValidity("");
                showImageThumbnail(this);
            }
        });
    });

    function showImageThumbnail(fileInput) {
        let file = fileInput.files[0];
        let reader = new FileReader();
        reader.onload = function (e) {
            $("#thumbnail").attr("src", e.target.result);
        };
        reader.readAsDataURL(file);
    };

    function checkEmailUnique(form) {
        let url = "[[@{/users/check_email}]]";
        let userEmail = $("#email").val();
        let userId = $("#id").val();
        let csrfValue = $("input[name='_csrf']").val();
        let params = {id: userId, email: userEmail, _csrf: csrfValue};


        $.post(url, params, function (response) {
            if (response === "OK") {
                form.submit();
            } else if (response === "Duplicated") {
                showModalDialog("Предупреждение", "Пользователь с email " + userEmail + " существует");
            }
        }).fail(function () {
            showModalDialog("Ошибка", "Не удалось подключить к серверу")
        });
        return false;
    }

    function showModalDialog(title, message) {

        // способ обращения с помощью jquery
        $("#modalTitle").text(title);
        $("#modalBody").text(message);

        // другой способ обращаться к идентификатору с помощью нативного js, а не jquery
        const myModal = new bootstrap.Modal(document.getElementById('modalDialog'));
        myModal.show(this);
    }
</script>
</body>

</html>